.logo {
  position: absolute;
  margin-left: 20px;
  margin-top: 40px;
}

.fond {
  background-image: url("../image/fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.form {
  background-color: rgb(19, 17, 17, 0.9);
  padding-top: 20px;
  width: 400px;
  height: 700px;
  margin-left: 40%;
}

h1 {
  color: white;
  margin-left: 60px;
}

.field {
  color: white;
  display: flex;
  width: 60%;
  margin-left: 60px;
  height: 50px;
  padding-left: 10px;
  background-color: #333333;
  margin-bottom: 10px;
  border-radius: 8px;
}

::placeholder {
  color: white;
}

.loginSubmit {
  color: white;
  border-radius: 8px;
  height: 50px;
  margin-left: 60px;
  width: 65%;
  background-color: rgb(196, 23, 23, 1);
}

.error {
  color: red;
  margin-left: 60px;
}

.lienInscription {
  margin-left: 60px;
  color: red;
}

@media screen and (max-width: 900px) {
  .form {
    margin-left: 30%;
  }
}

@media screen and (max-width: 700px) {
  .form {
    margin-left: 5%;
    padding-top: 80px;
  }
}

@media screen and (max-width: 400px) {
  .form {
    margin-left: 1%;
    padding-top: 80px;
  }
}
