.title {
  color: white;
  font-size: 100px;
  padding-top: 100px;
  padding-left: 30px;
}

.descript {
  color: rgb(245, 239, 236);
  font-size: 30px;
  padding-left: 30px;
  width: 50%;
  height: 25%;
  overflow: hidden;
}
