.footer {
  background-color: rgb(20, 18, 18, 0.9);
  height: 200px;
  position: fixed end;
  color: white;
  padding-left: 15%;
  padding-right: 25%;
  padding-top: 10px;
}

.blocG {
  display: flex;
  justify-content: space-between;
}

.bloc {
  display: flex;
  flex-direction: column;
}

span {
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .blocG {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer {
    height: 50px;
  }
}
