.link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.link:hover {
  color: rgb(148, 137, 137);
}

.connect {
  color: white;
  margin-left: auto;
  margin-right: 60px;
}

.deconnect {
  background-color: #e50914;
  color: white;
}
