.card {
  height: 200px;
  width: 150px;
  object-fit: contain;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 40px;
}

.card:hover {
  transform: scale(2) translateY(-40px);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(20, 18, 18, 0.7);
  height: 250px;
  padding-top: 20px;
  z-index: 1;
}

.titleSugg {
  color: white;
  font-size: 25px;
  margin-left: 20px;
  border-bottom: 1px solid #e50914;
  width: 200px;
}

.ajout {
  position: absolute;
  margin-left: -60px;
  margin-top: 200px;
  background-color: transparent;
  color: #e50914;
  border: none;
}

.ajout:hover {
  transform: scale(1.5);
}
