body {
  margin: 0;
  background-color: rgb(20, 18, 18);
}

.accueil {
  display: flex;
  flex-direction: column;
}

.tvPop {
  position: absolute;
  margin-top: 600px;
  width: 100%;
}

.moviePop {
  position: absolute;
  margin-top: 950px;
  width: 100%;
}

.foot {
  margin-top: 500px;
}

.liste {
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
}
